#title{
    background-color: black;
    color: #fff;
    font-weight: bolder;
}
body{
    background-color: black;
    color: white;

}
hr{
    border-top: 5px solid white;

}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: lighter;
}
.container-fluid{
    padding: 3% 15%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;

}
.navbar-brand{
    font-family: 'ubuntu';
    font-size: large;
}
.navbar{
    padding: 0 0 4.5rem 0;
}
.navitem{
    padding: 0 18px;
    font-size: medium;
    font-family: 'ubuntu';
}
.image{
    border-radius: 50%;
    height: 200px;
}
.col-lg-4{
    text-align: center;
    padding: 50px;
    
}
.meme{
    height: 500px;
}

.project{
    margin: auto auto auto 700px;
    background-color: white;
}

